# This is Git's per-user configuration file.
[user]
	name = Adrian Josan
	email = josan.adrian11@gmail.com
# Please adapt and uncomment the following lines:
#	name = Adrian Josan
#	email = a.josan@student.tudelft.nl
[core]
	autocrlf = input
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
